#interested {
    padding: 90px 0;

    .btn-blue-black {
        height: 40px;
    }
    .interested-p {
   max-width: 700px;
   margin: 0 auto;
    }

    p {
        color: $secondary-color;
    }
   
}